# Implementasi Aturan Asosiasi dengan Algoritma Apriori untuk menentukan Pola Kunjungan Wisatawan Mancanegara ke Indonesia

|Nama|NIM|
|-|-|
|Ilhan Mahardika Pratama|H1D020058|
|Abdalhaqq Muhammad Saih|H1D020068|
|Ahmad Karomi Alhamidy|H1D020069|

Note: Buka [notebook](https://colab.research.google.com/drive/1OmGIFFGK4x7SoaBVIg9m6eooMgGkGdkH#scrollTo=rtdDOZUTOqQ3) untuk menjalankan program secara interaktif

## Mengimpor library yang dibutuhkan

In [ ]:
import io
import pandas as pd
from google.colab import files
from mlxtend.frequent_patterns import apriori, association_rules

## Memuat dataset

In [ ]:
uploaded = files.upload()
filename = list(uploaded)[0]
df = pd.read_csv(io.BytesIO(uploaded[filename]), index_col=0)
df.dropna(inplace=True)
df

Saving Jumlah Kunjungan Wisatawan Mancanegara ke Indonesia Menurut Kebangsaan 2012-2020.csv to Jumlah Kunjungan Wisatawan Mancanegara ke Indonesia Menurut Kebangsaan 2012-2020.csv

,2012,2013,2014,2015,2016,2017,2018,2019,2020
Brunei Darussalam,38679.0,16932.0,19078.0,18262.0,23695.0,23455.0,17279.0,19278.0,2701.0
Malaysia,1173351.0,1380686.0,1418256.0,1431728.0,1541197.0,2121888.0,2503344.0,2980753.0,980118.0
Filipina,210029.0,247573.0,248182.0,267700.0,298910.0,308977.0,217874.0,260980.0,50413.0
Singapura,1324839.0,1432060.0,1559044.0,1594102.0,1515699.0,1554119.0,1768744.0,1934445.0,280492.0
Thailand,115036.0,125059.0,114272.0,118579.0,124569.0,138235.0,124153.0,136699.0,21303.0
Vietnam,31106.0,43249.0,48018.0,49845.0,60986.0,77466.0,75816.0,96024.0,19608.0
Myanmar,22304.0,31001.0,33559.0,39923.0,44720.0,48133.0,28612.0,46381.0,12669.0
Hong Kong,84985.0,95258.0,94560.0,93529.0,101369.0,98272.0,91182.0,50324.0,2625.0
India,181791.0,231266.0,267082.0,306960.0,422045.0,536902.0,595636.0,657300.0,111724.0
Jepang,423113.0,497399.0,505175.0,528606.0,545392.0,573310.0,530573.0,519623.0,92228.0
Korea Selatan,320596.0,351154.0,352004.0,375586.0,386789.0,423191.0,358885.0,388316.0,75562.0
Pakistan,6598.0,6281.0,7057.0,7570.0,10100.0,11424.0,13448.0,14663.0,4110.0
Bangladesh,6394.0,8132.0,13891.0,15790.0,39028.0,56503.0,56564.0,59777.0,12866.0
Sri Lanka,7019.0,8288.0,8760.0,11190.0,24258.0,35669.0,32508.0,28907.0,4300.0
Taiwan,228922.0,247146.0,220328.0,223478.0,252849.0,264278.0,208317.0,207490.0,35680.0
Tionghoa,594997.0,858140.0,1052705.0,1249091.0,1556771.0,2093171.0,2139161.0,2072079.0,239768.0
Saudi Arabia,110908.0,121890.0,151454.0,164643.0,197681.0,182086.0,165912.0,157512.0,31906.0
Bahrain,879.0,1176.0,1608.0,1685.0,2243.0,2457.0,2324.0,2631.0,373.0
Kuwait,4164.0,7919.0,9281.0,8306.0,6368.0,5760.0,5551.0,5762.0,846.0
Mesir,4469.0,8091.0,10695.0,12972.0,19948.0,20345.0,18075.0,21354.0,4337.0
Uni Emirat Arab,4720.0,9891.0,12054.0,10315.0,9016.0,8387.0,7100.0,9065.0,1093.0
Yaman,6729.0,6851.0,7863.0,8715.0,9478.0,8453.0,10008.0,9221.0,2094.0
Qatar,4501.0,1332.0,1648.0,1595.0,1856.0,1859.0,2104.0,1989.0,225.0
Austria,17374.0,21645.0,20599.0,22458.0,24375.0,27208.0,29492.0,28476.0,4858.0
Belgia,24579.0,34414.0,33601.0,38193.0,43607.0,48477.0,50050.0,46780.0,5902.0
Denmark,19950.0,22890.0,22577.0,27692.0,36380.0,43721.0,46825.0,45090.0,10533.0
Perancis,171736.0,201917.0,208537.0,208679.0,256229.0,274117.0,287917.0,283814.0,43438.0
Jerman,149110.0,173470.0,184463.0,201202.0,243873.0,267823.0,274166.0,277653.0,46361.0
Italia,42256.0,56705.0,62265.0,67892.0,79424.0,90022.0,94288.0,91229.0,13260.0
Belanda,163268.0,161402.0,168494.0,172371.0,200811.0,210426.0,209978.0,215287.0,53495.0
Spanyol,30657.0,39383.0,47376.0,53115.0,68840.0,81690.0,85560.0,83373.0,11829.0
Portugal,13661.0,18194.0,17675.0,22032.0,29286.0,33223.0,36804.0,35434.0,6245.0
Swedia,26504.0,29281.0,32308.0,37555.0,45934.0,51417.0,50381.0,56402.0,17600.0
Swiss,38704.0,43906.0,45567.0,51685.0,56700.0,61191.0,60293.0,57484.0,8362.0
Inggris,201221.0,236794.0,244594.0,286806.0,352017.0,378131.0,392112.0,397624.0,69997.0
Finlandia,13137.0,15074.0,15332.0,18564.0,21031.0,24447.0,27127.0,22665.0,6376.0
Norwegia,17803.0,18174.0,17253.0,18526.0,19478.0,22838.0,24906.0,23886.0,5072.0
Rusia,96438.0,99872.0,94345.0,72302.0,88520.0,117532.0,125728.0,158943.0,67491.0
Amerika Serikat,203205.0,236375.0,246397.0,269062.0,316782.0,344766.0,387856.0,457832.0,91782.0
Kanada,57129.0,65385.0,68432.0,74212.0,86807.0,96139.0,97908.0,103616.0,23200.0
Australia,933376.0,983911.0,1145576.0,1090025.0,1302292.0,1256927.0,1301478.0,1386803.0,256291.0
Selandia Baru,52458.0,67852.0,79380.0,86609.0,105393.0,106914.0,128366.0,149010.0,19947.0
Afrika Selatan,16282.0,16928.0,17375.0,22482.0,29223.0,38073.0,41962.0,47657.0,7350.0

## Membuat perbandingan wisatawan dari tahun ke tahun

In [ ]:
it = iter(df)
a = next(it)
def fp(a, b):
    return float(b-a)/a*100
comparations = {}
for b in it:
    for x in df.index:
        na = df[a][x]
        nb = df[b][x]
        if not comparations.get(b):
            comparations[b] = {}
        comparations[b][x] = fp(na, nb)
    a = b
pd.DataFrame(comparations)

,2013,2014,2015,2016,2017,2018,2019,2020
Brunei Darussalam,-56.224308,12.674226,-4.277178,29.750301,-1.012872,-26.331273,11.568957,-85.989210
Malaysia,17.670331,2.721111,0.949899,7.645936,37.677922,17.977198,19.070851,-67.118443
Filipina,17.875627,0.245988,7.864390,11.658573,3.367903,-29.485366,19.784830,-80.683194
Singapura,8.093134,8.867226,2.248686,-4.918318,2.534804,13.810075,9.368286,-85.500131
Thailand,8.712925,-8.625529,3.769077,5.051485,10.970627,-10.187000,10.105273,-84.416126
Vietnam,39.037485,11.026845,3.804823,22.351289,27.022595,-2.129967,26.654004,-79.580105
Myanmar,38.993006,8.251347,18.963616,12.015630,7.631932,-40.556375,62.103313,-72.684936
Hong Kong,12.088016,-0.732747,-1.090313,8.382427,-3.055175,-7.214669,-44.809283,-94.783801
India,27.215319,15.486928,14.930995,37.491856,27.214397,10.939427,10.352631,-83.002586
Jepang,17.557012,1.563332,4.638195,3.175522,5.118887,-7.454431,-2.063806,-82.250978
Korea Selatan,9.531622,0.242059,6.699356,2.982806,9.411333,-15.195503,8.200677,-80.541106
Pakistan,-4.804486,12.354721,7.269378,33.421400,13.108911,17.717087,9.034801,-71.970265
Bangladesh,27.181733,70.818987,13.670722,147.169094,44.775546,0.107959,5.680291,-78.476672
Sri Lanka,18.079499,5.694981,27.739726,116.782842,47.040152,-8.862037,-11.077273,-85.124710
Taiwan,7.960790,-10.851076,1.429687,13.142681,4.520089,-21.175051,-0.396991,-82.803991
Tionghoa,44.225937,22.672874,18.655369,24.632313,34.455935,2.197145,-3.135902,-88.428627
Saudi Arabia,9.901901,24.254656,8.708255,20.066447,-7.888973,-8.882616,-5.062925,-79.743766
Bahrain,33.788396,36.734694,4.788557,33.115727,9.540794,-5.413105,13.209983,-85.822881
Kuwait,90.177714,17.199141,-10.505333,-23.332531,-9.547739,-3.628472,3.801117,-85.317598
Mesir,81.047214,32.183908,21.290323,53.777367,1.990174,-11.157533,18.141079,-79.689988
Uni Emirat Arab,109.555085,21.868365,-14.426746,-12.593311,-6.976486,-15.345177,27.676056,-87.942637
Yaman,1.813048,14.771566,10.835559,8.755020,-10.814518,18.395836,-7.863709,-77.290966
Qatar,-70.406576,23.723724,-3.216019,16.363636,0.161638,13.179129,-5.465779,-88.687783
Austria,24.582710,-4.832525,9.024710,8.535934,11.622564,8.394590,-3.445002,-82.940020
Belgia,40.013833,-2.362411,13.666260,14.175372,11.167932,3.244838,-6.533467,-87.383497
Denmark,14.736842,-1.367409,22.655800,31.373682,20.178670,7.099563,-3.705286,-76.640053
Perancis,17.574067,3.278575,0.068093,22.786193,6.981255,5.034347,-1.425063,-84.694906
Jerman,16.336932,6.337119,9.074449,21.208040,9.820685,2.368355,1.271857,-83.302540
Italia,34.193961,9.805132,9.037180,16.985801,13.343574,4.738842,-3.244315,-85.465148
Belanda,-1.142906,4.393998,2.300972,16.499295,4.788084,-0.212901,2.528360,-75.151774
Spanyol,28.463320,20.295559,12.113728,29.605573,18.666473,4.737422,-2.556101,-85.811954
Portugal,33.182051,-2.852589,24.650636,32.924837,13.443283,10.778677,-3.722421,-82.375684
Swedia,10.477664,10.337762,16.240560,22.311277,11.936692,-2.014898,11.950934,-68.795433
Swiss,13.440471,3.783082,13.426383,9.703009,7.920635,-1.467536,-4.658916,-85.453344
Inggris,17.678572,3.294002,17.257987,22.736972,7.418392,3.697396,1.405721,-82.396183
Finlandia,14.744614,1.711556,21.080094,13.289162,16.242689,10.962490,-16.448557,-71.868520
Norwegia,2.083918,-5.067679,7.378427,5.138724,17.250231,9.055084,-4.095399,-78.765804
Rusia,3.560837,-5.534084,-23.364248,22.430915,32.774514,6.973420,26.418141,-57.537608
Amerika Serikat,16.323417,4.239873,9.198570,17.735689,8.833835,12.498332,18.041747,-79.952908
Kanada,14.451504,4.660090,8.446341,16.971649,10.750285,1.840044,5.829963,-77.609636
Australia,5.414217,16.430856,-4.849176,19.473590,-3.483474,3.544438,6.556008,-81.519293
Selandia Baru,29.345381,16.989919,9.106828,21.688277,1.443170,20.064725,16.082140,-86.613650
Afrika Selatan,3.967572,2.640595,29.392806,29.983987,30.284365,10.214588,13.571803,-84.577292

## Mengubah perbandingan ke dalam fungsi keanggotaan menjadi data kategorikal

In [ ]:
memberships = {}
def fk(per):
    b1 = 100/3.0
    b2 = b1*2
    b3 = -100/3.0
    b4 = b3*2
    return 'Naik Tinggi' if per >= b2 else 'Naik Sedang' if per > b1 else 'Naik Rendah' if per > 0 else 'Turun Tinggi' if per <= b4 else 'Turun Sedang' if per < b3 else 'Turun Rendah'
for year in comparations:
    if not memberships.get(year):
        memberships[year] = {}
    for k,v in comparations[year].items():
        memberships[year][k] = fk(v)
pd.DataFrame(memberships)

,2013,2014,2015,2016,2017,2018,2019,2020
Brunei Darussalam,Turun Sedang,Naik Rendah,Turun Rendah,Naik Rendah,Turun Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Malaysia,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Sedang,Naik Rendah,Naik Rendah,Turun Tinggi
Filipina,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Singapura,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Thailand,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Vietnam,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Myanmar,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Sedang,Naik Sedang,Turun Tinggi
Hong Kong,Naik Rendah,Turun Rendah,Turun Rendah,Naik Rendah,Turun Rendah,Turun Rendah,Turun Sedang,Turun Tinggi
India,Naik Rendah,Naik Rendah,Naik Rendah,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Jepang,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Rendah,Turun Tinggi
Korea Selatan,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Pakistan,Turun Rendah,Naik Rendah,Naik Rendah,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Bangladesh,Naik Rendah,Naik Tinggi,Naik Rendah,Naik Tinggi,Naik Sedang,Naik Rendah,Naik Rendah,Turun Tinggi
Sri Lanka,Naik Rendah,Naik Rendah,Naik Rendah,Naik Tinggi,Naik Sedang,Turun Rendah,Turun Rendah,Turun Tinggi
Taiwan,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Rendah,Turun Tinggi
Tionghoa,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Naik Sedang,Naik Rendah,Turun Rendah,Turun Tinggi
Saudi Arabia,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Rendah,Turun Rendah,Turun Tinggi
Bahrain,Naik Sedang,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Kuwait,Naik Tinggi,Naik Rendah,Turun Rendah,Turun Rendah,Turun Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Mesir,Naik Tinggi,Naik Rendah,Naik Rendah,Naik Sedang,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Uni Emirat Arab,Naik Tinggi,Naik Rendah,Turun Rendah,Turun Rendah,Turun Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Yaman,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Qatar,Turun Tinggi,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Austria,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Belgia,Naik Sedang,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Denmark,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Perancis,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Jerman,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Italia,Naik Sedang,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Belanda,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Spanyol,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Portugal,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Swedia,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Tinggi
Swiss,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Rendah,Turun Tinggi
Inggris,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Finlandia,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Norwegia,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Rendah,Turun Tinggi
Rusia,Naik Rendah,Turun Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Sedang
Amerika Serikat,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Kanada,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Australia,Naik Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Turun Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Selandia Baru,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi
Afrika Selatan,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Naik Rendah,Turun Tinggi

## Transformasi data ke dalam bentuk transaksi

In [ ]:
categories = {'NT':'Naik Tinggi', 'NS':'Naik Sedang', 'NR':'Naik Rendah', 'TT':'Turun Tinggi', 'TS':'Turun Sedang', 'TR':'Turun Rendah'}
columns = []
for country in df.index:
    for category in categories:
        columns.append(f'{category}_{country}')
transactions = []
for year in memberships:
    transaction = {}
    for country in memberships[year]:
        for category in categories:
            transaction[f'{category}_{country}'] = 1 if memberships[year][country] == categories[category] else 0
    transactions.append(transaction)

dataset = pd.DataFrame(transactions)
dataset

,NT_Brunei Darussalam,NS_Brunei Darussalam,NR_Brunei Darussalam,TT_Brunei Darussalam,TS_Brunei Darussalam,TR_Brunei Darussalam,NT_Malaysia,NS_Malaysia,NR_Malaysia,TT_Malaysia,...,NR_Selandia Baru,TT_Selandia Baru,TS_Selandia Baru,TR_Selandia Baru,NT_Afrika Selatan,NS_Afrika Selatan,NR_Afrika Selatan,TT_Afrika Selatan,TS_Afrika Selatan,TR_Afrika Selatan
0,0,0,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
1,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
6,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
7,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0

## Men-*generate* kombinasi itemset sesuai minimum support

In [ ]:
min_support = float(input("Masukan nilai min. support  "))
frequent_itemsets = apriori(dataset, min_support=min_support, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

Masukan nilai min. support  0.6

       support                                           itemsets  length
0        0.750                                      (NR_Malaysia)       1
1        0.750                                      (NR_Filipina)       1
2        0.750                                     (NR_Singapura)       1
3        0.625                                      (NR_Thailand)       1
4        0.625                                       (NR_Vietnam)       1
...        ...                                                ...     ...
32122    0.625  (NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...      13
32123    0.625  (NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...      13
32124    0.625  (NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...      13
32125    0.625  (NR_Jerman, NR_Kanada, NR_Finlandia, NR_Amerik...      13
32126    0.625  (NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...      14

[32127 rows x 3 columns]

## Membuat kandidat aturan asosiasi

In [ ]:
min_conf = float(input("Masukan nilai min. confidence  "))
candidate_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=min_conf)
candidate_rules["antecedents_length"] = candidate_rules["antecedents"].apply(lambda x: len(x))
candidate_rules["consequents_length"] = candidate_rules["consequents"].apply(lambda x: len(x))
candidate_rules

Masukan nilai min. confidence  0.8

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
0,(NR_Filipina),(NR_Malaysia),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.50,1,1
1,(NR_Malaysia),(NR_Filipina),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.50,1,1
2,(NR_Singapura),(NR_Malaysia),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.50,1,1
3,(NR_Malaysia),(NR_Singapura),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.50,1,1
4,(NR_Malaysia),(NR_India),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.50,1,1
...,...,...,...,...,...,...,...,...,...,...,...
6743436,(NR_Filipina),"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...",0.750,0.625,0.625,0.833333,1.333333,0.156250,2.25,1,13
6743437,(NR_Korea Selatan),"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...",0.750,0.625,0.625,0.833333,1.333333,0.156250,2.25,1,13
6743438,(NR_Jepang),"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...",0.625,0.625,0.625,1.000000,1.600000,0.234375,inf,1,13
6743439,(NR_Spanyol),"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...",0.750,0.625,0.625,0.833333,1.333333,0.156250,2.25,1,13
6743440,(NR_Swedia),"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...",0.750,0.625,0.625,0.833333,1.333333,0.156250,2.25,1,13

## Menyeleksi kandidat aturan asosiasi dengan consequent = 1

In [ ]:
select_rules = candidate_rules["consequents"].apply(lambda x: len(x) == 1)
rules = candidate_rules.loc[select_rules].copy()
rules["support * confidence"] = rules["support"] * rules["confidence"]
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length,support * confidence
0,(NR_Filipina),(NR_Malaysia),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.5,1,1,0.520833
1,(NR_Malaysia),(NR_Filipina),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.5,1,1,0.520833
2,(NR_Singapura),(NR_Malaysia),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.5,1,1,0.520833
3,(NR_Malaysia),(NR_Singapura),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.5,1,1,0.520833
4,(NR_Malaysia),(NR_India),0.750,0.750,0.625,0.833333,1.111111,0.062500,1.5,1,1,0.520833
...,...,...,...,...,...,...,...,...,...,...,...,...
6727131,"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Swiss,...",(NR_Amerika Serikat),0.625,0.875,0.625,1.000000,1.142857,0.078125,inf,13,1,0.625000
6727132,"(NR_Jerman, NR_Kanada, NR_Finlandia, NR_Amerik...",(NR_Swiss),0.625,0.625,0.625,1.000000,1.600000,0.234375,inf,13,1,0.625000
6727133,"(NR_Jerman, NR_Kanada, NR_Swiss, NR_Amerika Se...",(NR_Finlandia),0.625,0.750,0.625,1.000000,1.333333,0.156250,inf,13,1,0.625000
6727134,"(NR_Jerman, NR_Finlandia, NR_Swiss, NR_Amerika...",(NR_Kanada),0.625,0.875,0.625,1.000000,1.142857,0.078125,inf,13,1,0.625000
6727135,"(NR_Kanada, NR_Finlandia, NR_Swiss, NR_Amerika...",(NR_Jerman),0.625,0.875,0.625,1.000000,1.142857,0.078125,inf,13,1,0.625000

## Menentukan aturan asosiasi dari nilai support * confidence tertinggi

In [ ]:
max_sup_x_conf = rules.max()["support * confidence"]
select_final = rules["support * confidence"].apply(lambda x: x == max_sup_x_conf)
final_rules = rules.loc[select_final].copy()
final_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length,support * confidence
268,(NR_Jerman),(NR_Inggris),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,1,1,0.875
269,(NR_Inggris),(NR_Jerman),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,1,1,0.875
274,(NR_Jerman),(NR_Amerika Serikat),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,1,1,0.875
275,(NR_Amerika Serikat),(NR_Jerman),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,1,1,0.875
276,(NR_Jerman),(NR_Kanada),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,1,1,0.875
...,...,...,...,...,...,...,...,...,...,...,...,...
520573,"(NR_Jerman, NR_Kanada, NR_Amerika Serikat, NR_...",(NR_Inggris),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,5,1,0.875
520574,"(NR_Jerman, NR_Kanada, NR_Amerika Serikat, NR_...",(NR_Afrika Selatan),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,5,1,0.875
520575,"(NR_Jerman, NR_Kanada, NR_Afrika Selatan, NR_I...",(NR_Amerika Serikat),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,5,1,0.875
520576,"(NR_Jerman, NR_Amerika Serikat, NR_Afrika Sela...",(NR_Kanada),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,5,1,0.875
520577,"(NR_Kanada, NR_Amerika Serikat, NR_Afrika Sela...",(NR_Jerman),0.875,0.875,0.875,1.0,1.142857,0.109375,inf,5,1,0.875